	/*
  	Flaticon icon font: Flaticon
  	Creation date: 06/09/2018 10:44
  	*/

@font-face {
    font-family: 'Exo2-thin';
    src: local('Exo 2 Thin'), local('Exo2-Thin'), url('../fonts/exo2thin.woff2') format('woff2'), url('../fonts/exo2thin.woff') format('woff'), url('../fonts/exo2thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Exo2-thinitalic';
    src: local('Exo 2 Thin Italic'), local('Exo2-ThinItalic'), url('../fonts/exo2thinitalic.woff2') format('woff2'), url('../fonts/exo2thinitalic.woff') format('woff'), url('../fonts/exo2thinitalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Exo2-extralight';
    src: local('Exo 2 Extra Light'), local('Exo2-ExtraLight'), url('../fonts/exo2extralight.woff2') format('woff2'), url('../fonts/exo2extralight.woff') format('woff'), url('../fonts/exo2extralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Exo2-extralightitalic';
    src: local('Exo 2 Extra Light Italic'), local('Exo2-ExtraLightItalic'), url('../fonts/exo2extralightitalic.woff2') format('woff2'), url('../fonts/exo2extralightitalic.woff') format('woff'), url('../fonts/exo2extralightitalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Exo2-light';
    src: local('Exo 2 Light'), local('Exo2-Light'), url('../fonts/exo2light.woff2') format('woff2'), url('../fonts/exo2light.woff') format('woff'), url('../fonts/exo2light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Exo2-lightitalic';
    src: local('Exo 2 Light Italic'), local('Exo2-LightItalic'), url('../fonts/exo2lightitalic.woff2') format('woff2'), url('../fonts/exo2lightitalic.woff') format('woff'), url('../fonts/exo2lightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Exo2';
    src: local('Exo 2'), local('Exo2-Regular'), url('../fonts/exo2.woff2') format('woff2'), url('../fonts/exo2.woff') format('woff'), url('../fonts/exo2.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Exo2-italic';
    src: local('Exo 2 Italic'), local('Exo2-Italic'), url('../fonts/exo2italic.woff2') format('woff2'), url('../fonts/exo2italic.woff') format('woff'), url('../fonts/exo2italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Exo2-medium';
    src: local('Exo 2 Medium'), local('Exo2-Medium'), url('../fonts/exo2medium.woff2') format('woff2'), url('../fonts/exo2medium.woff') format('woff'), url('../fonts/exo2medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Exo2-mediumitalic';
    src: local('Exo 2 Medium Italic'), local('Exo2-MediumItalic'), url('../fonts/exo2mediumitalic.woff2') format('woff2'), url('../fonts/exo2mediumitalic.woff') format('woff'), url('../fonts/exo2mediumitalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Exo2-semibold';
    src: local('Exo 2 Semi Bold'), local('Exo2-SemiBold'), url('../fonts/exo2semibold.woff2') format('woff2'), url('../fonts/exo2semibold.woff') format('woff'), url('../fonts/exo2semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Exo2-semibolditalic';
    src: local('Exo 2 Semi Bold Italic'), local('Exo2-SemiBoldItalic'), url('../fonts/exo2semibolditalic.woff2') format('woff2'), url('../fonts/exo2semibolditalic.woff') format('woff'), url('../fonts/exo2semibolditalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Exo2-bold';
    src: local('Exo 2 Bold'), local('Exo2-Bold'), url('../fonts/exo2bold.woff2') format('woff2'), url('../fonts/exo2bold.woff') format('woff'), url('../fonts/exo2bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Exo2-bolditalic';
    src: local('Exo 2 Bold Italic'), local('Exo2-BoldItalic'), url('../fonts/exo2bolditalic.woff2') format('woff2'), url('../fonts/exo2bolditalic.woff') format('woff'), url('../fonts/exo2bolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Exo2-extrabold';
    src: local('Exo 2 Extra Bold'), local('Exo2-ExtraBold'), url('../fonts/exo2extrabold.woff2') format('woff2'), url('../fonts/exo2extrabold.woff') format('woff'), url('../fonts/exo2extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Exo2-extrabolditalic';
    src: local('Exo 2 Extra Bold Italic'), local('Exo2-ExtraBoldItalic'), url('../fonts/exo2extrabolditalic.woff2') format('woff2'), url('../fonts/exo2extrabolditalic.woff') format('woff'), url('../fonts/exo2extrabolditalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'Exo2-black';
    src: local('Exo 2 Black'), local('Exo2-Black'), url('../fonts/exo2black.woff2') format('woff2'), url('../fonts/exo2black.woff') format('woff'), url('../fonts/exo2black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Exo2-blackitalic';
    src: local('Exo 2 Black Italic'), local('Exo2-BlackItalic'), url('../fonts/exo2blackitalic.woff2') format('woff2'), url('../fonts/exo2blackitalic.woff') format('woff'), url('../fonts/exo2blackitalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}


@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
    font-family: Flaticon;
    font-size: inherit;
    font-style: normal;
}

.flaticon-mark:before { content: "\f100"; }
.flaticon-close:before { content: "\f101"; }
.flaticon-delete:before { content: "\f102"; }
.flaticon-technology:before { content: "\f103"; }
.flaticon-people:before { content: "\f104"; }
.flaticon-subscribe:before { content: "\f105"; }
.flaticon-technology-1:before { content: "\f106"; }
.flaticon-gear:before { content: "\f107"; }
.flaticon-suitcase:before { content: "\f108"; }
.flaticon-computer:before { content: "\f109"; }
.flaticon-scissors:before { content: "\f10a"; }
.flaticon-sign:before { content: "\f10b"; }
.flaticon-symbols:before { content: "\f10c"; }
.flaticon-people-1:before { content: "\f10d"; }
.flaticon-business:before { content: "\f10e"; }
.flaticon-money:before { content: "\f10f"; }
.flaticon-search:before { content: "\f110"; }
.flaticon-commerce:before { content: "\f111"; }
.flaticon-commerce-1:before { content: "\f112"; }
.flaticon-exclamation:before { content: "\f113"; }
.flaticon-draw:before { content: "\f114"; }
.flaticon-note:before { content: "\f115"; }
.flaticon-arrow:before { content: "\f116"; }
.flaticon-suitcase-1:before { content: "\f117"; }
.flaticon-arrow-down-sign-to-navigate:before { content: "\f118"; }
.flaticon-arrows:before { content: "\f119"; }
.flaticon-layout:before { content: "\f11a"; }
.flaticon-null:before { content: "\f11b"; }
.flaticon-transport:before { content: "\f11c"; }
.flaticon-three:before { content: "\f11d"; }
.flaticon-mark-1:before { content: "\f11e"; }
.flaticon-calendar:before { content: "\f11f"; }
.flaticon-load:before { content: "\f120"; }
.flaticon-education:before { content: "\f121"; }
.flaticon-business-1:before { content: "\f122"; }
.flaticon-business-2:before { content: "\f123"; }
.flaticon-placeholder-black-shape-for-localization-on-maps:before { content: "\f124"; }
.flaticon-menu:before { content: "\f125"; }
.flaticon-facebook-logo-button:before { content: "\f126"; }
.flaticon-linkedin-button:before { content: "\f127"; }
.flaticon-twitter-logo-button:before { content: "\f128"; }
.flaticon-memo:before { content: "\f129"; }
.flaticon-profit:before { content: "\f12a"; }
.flaticon-star:before { content: "\f12b"; }
.flaticon-google-plus:before { content: "\f12c"; }
.flaticon-right:before { content: "\f12d"; }
.flaticon-plus:before { content: "\f12e"; }
.flaticon-arrowhead-thin-outline-to-the-left:before { content: "\f12f"; }
.flaticon-navigate-up-arrow:before { content: "\f130"; }
.flaticon-buy:before { content: "\f131"; }